<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @physician.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @physician.last_name %>
</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Appointment Date</th>
    <th>Patient Name</th>
    <th>Patient Diagnostic</th>
    <th>Invoiced Appointment Amount</th>
    <th colspan ="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @physician.appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.patient.last_name %></td>
        <td><%= appointment.diagnostic.diagnostic_name %></td>
        <td><%= number_to_currency(appointment.total) %> </td>
      </tr>
  <% end %>
  </tbody>

</table>
<br>
<%= link_to 'Home', root_path %> |
<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
