<h1 class = "centered fancy" >Dermatology Office</h1>
<div id="welcome">
  <h2 id="welcome-message">Welcome to your local dermatology office.</h2>

  <head><script type="text/javascript">
      function goToNewPage()
      {
          var url = document.getElementById('list').value;
          if(url != 'none') {
              window.location = url;
          }
      }
  </script></head>

  <div id="user">
    <p>If you are a new patient please click new patient and follow the instructions.
    <FORM>
    <INPUT TYPE="button" value="New Patient" onClick="parent.location='patients/new'">
    </FORM>
    </p>

    <p>If you are a returning patient that needs to cancel an appointment please click returning patient.
    <FORM>
    <INPUT TYPE="button" value="Returning patient" onClick="parent.location='appointments'">
    </FORM>
    </p>
    <p>If you are a administrator please select an option.
    <select name="list" id="list" accesskey="target">
      <option value ='physicians'>Physicians</option>
      <option value ="diagnostics">Diagnostic Codes</option>
      <option value ="patients">Edit Patients</option>
    </select>
      <input type=button value="Go" onclick="goToNewPage()" />
    </p>
    <p>If you are a physician, or office worker, and need to make notes about an appointment. Click below and select edit on the appointment of concern.
    <FORM>
      <INPUT TYPE="button" value="Office Worker" onClick="parent.location='appointments'">
    </FORM>
    </p>
  </div>

</div>